---
svg: 
    smile: 'red'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% renderTemplate "liquid", settings %}
    <p>The date is: {{ today | date: "%B %d, %y" }}</p>
{% endrenderTemplate %}


    {% renderTemplate "liquid,md" %}
# I am a title

* I am a list
* I am a list
1. I am an ordered list
1. i'm actually second in an ordered list test
    {% endrenderTemplate %}
</body>
</html>